.root {
    -fx-background-image: url("images/fondo_app_ilo.png");
    -fx-background-size: cover;
    -fx-font-family: "FS Me Web Regular",Helvetica,Arial,Verdana,sans-serif;
}

.image {
    -fx-padding: 75;
}

#transparentPane {
    -fx-background-color: rgba(256, 256, 256, 0.5);
    -fx-background-radius: 10;
    -fx-border-color: white;
}

.text-field {
    -fx-padding: 5 5 5 10;
}

.text-field:focused{
    -fx-faint-focus-color: transparent;
    -fx-focus-color:#e40046;
}

.choice-box {
    -fx-background-color: white;
    -fx-border-color: #e40046;
    -fx-padding: 0 0 0 5;
}

.choice-box .label {
    -fx-text-fill: #e40046;
}

// Text color of non-focused items in the list
.choice-box .menu-item > .label {
    -fx-text-fill: black;
}
// Text color of focused item in the list
.choice-box .menu-item:focused > .label {
    -fx-text-fill: #e40046;
}
.choice-box .menu-item:focused {
    -fx-background-color: white;
}

.check-box .box {
    -fx-background-color: white;
    -fx-border-color:#e40046;
    -fx-border-radius:3px;
}

.check-box:selected .mark {
    -fx-background-color: #e40046;
}

.button:pressed {
    -fx-background-insets: 0 0 -1 0,1,2;
}

.button {
    -fx-background-color: white;
    -fx-border-color: #e40046;
    -fx-padding: 3 30 3 30;
    -fx-text-fill: #e40046;
    -fx-text-weight: bold;
}